#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    height: 10px;
    width: 10px;
    border: 1px solid #ccc;
    background: transparent;
    margin: -40px 0 0 -20px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 10px;
    width: 10px;
    margin: -40px 0 0 -20px;
    border-radius: 100%;
    background-color: #ccc;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 2px #ccc;
    border-style: solid;
}